#.github/workflows/run_tests.yml

name: Run Pytest Validation Suite

# This workflow triggers on any push or pull request to the main branch.
on: 
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

# The main to-do list for a temporary, clean computer that GitHub sets up just to run your tests.
jobs:
  build: #name of the first (and in this case, only) task on the to-do list.
    # The type of runner that the job will run on.
    runs-on: ubuntu-latest #what kind of computer to use for the build task

    # # Step 1: Checks out your repository under $GITHUB_WORKSPACE, so your job can access it. 
    # The 'uses' keyword tells the computer to use a pre-built tool. 
    # The actions/checkout tool's only job is to download a copy of your project's code from your 
    # GitHub repository onto the temporary computer.
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    # Step 2: Sets up a Python environment for use in actions.
    # This uses another pre-built tool named setup-python, which installs the Python language.
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    # NOTE: Think of it like using a specific edition of a textbook. actions/checkout@v3 tells your 
    # workflow to use the 3rd major edition of the "checkout" tool, while actions/setup-python@v4 uses 
    # the 4th major edition of the "setup-python" tool. To use the latest use @main (refers to main branch of the tool's repo)

    # Step 3: Installs project dependencies from the requirements.txt file.
    # NOTE: | is a YAML feature that lets you provide a multi-line string, making it easy to 
    # write a short script, just as you would in a terminal.
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    # Step 4: Runs the pytest suite.
    # The API key is passed as an environment variable using a GitHub Secret.
    # This prevents the key from being exposed in logs or source code.
    - name: Run tests
      run: |
        pytest
      env:
        ALPHAVANTAGE_API_KEY: ${{ secrets.ALPHAVANTAGE_API_KEY }} 
        # Instead of typing your secret key here, it tells the computer to securely fetch the key that you have stored in your GitHub repository's settings.